bcrypt==3.1.7
beautifulsoup4==4.9.1
Bootstrap-Flask==1.3.0
bs4==0.0.1
Click==7.0
Flask==1.1.1
Flask-Bcrypt==0.7.1
Flask-Dance==3.0.0
Flask-Login==0.4.1
Flask-OAuth==0.12
Flask-OAuthlib==0.9.5
Flask-SQLAlchemy==2.4.1
Flask-Views==0.2.1
Flask-WTF==0.14.2
gunicorn==20.0.4
itsdangerous==1.1.0
Jinja2==2.11.0
pipwin==0.5.0
rauth==0.7.3
regex==2020.6.8
request==2019.4.13
requests==2.22.0
selenium==3.141.0
SQLAlchemy==1.3.13
SQLAlchemy-Utils==0.36.3
urllib3==1.24.3
URLObject==2.4.3
virtualenv==20.0.4
Werkzeug==0.16.1
WTForms==2.2.1
xvfbwrapper==0.2.9
zope.interface==5.1.0
